{% extends "planning/dashboard.html" %}

{% block title %}

Suivi des tâches par responsable

{% endblock %}

{% block content %}

{% include "base/components/plannings/planning_header.html" with titre="Suivi des tâches par responsable" %}

<div class="container-fluid">

    {% include "base/components/plannings/planning_toolbar.html" %}
    {% include "base/components/plannings/planning_filters.html" %}
    {% include "base/components/plannings/planning_statistics.html" %}

    {% include "base/components/plannings/planning_responsible_card.html" %}

</div>

{% endblock %}