<li class="nav-item">

    <a class="nav-link active"
       data-bs-toggle="tab"
       href="#dashboard">

        <i class="bi bi-speedometer2"></i>

        Dashboard

    </a>

</li>


<li class="nav-item">

    <a class="nav-link"
       data-bs-toggle="tab"
       href="#general">

        Général

    </a>

</li>


<li class="nav-item">

    <a class="nav-link"
       data-bs-toggle="tab"
       href="#organisation">

        Organisation

    </a>

</li>


<li class="nav-item">

    <a class="nav-link"
       data-bs-toggle="tab"
       href="#planning">

        Planning

    </a>

</li>


<li class="nav-item">

    <a class="nav-link"
       data-bs-toggle="tab"
       href="#budget">

        Budget

    </a>

</li>


<li class="nav-item">

    <a class="nav-link"
       data-bs-toggle="tab"
       href="#ged">

        GED

    </a>

</li>


<li class="nav-item">

    <a class="nav-link"
       data-bs-toggle="tab"
       href="#history">

        Historique

    </a>

</li>