<div class="d-flex justify-content-end gap-2 mb-3">

    {% if back_url %}

    <a href="{{ back_url }}"
       class="btn btn-outline-secondary">

        <i class="bi bi-arrow-left"></i>

        Retour

    </a>

    {% endif %}


    {% if edit_url %}

    <a href="{{ edit_url }}"
       class="btn btn-warning">

        <i class="bi bi-pencil"></i>

        Modifier

    </a>

    {% endif %}


    {% if delete_url %}

    <a href="{{ delete_url }}"
       class="btn btn-danger">

        <i class="bi bi-trash"></i>

        Supprimer

    </a>

    {% endif %}

</div>