# Copier vers .env et remplir les valeurs locales
# cp .env.example .env

# Django
SECRET_KEY=django-insecure-change-me-in-env
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database — PostgreSQL (port 5433 historique, 5432 standard)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=pmo_epc_db
DB_USER=postgres
DB_PASSWORD=openpgpwd
DB_HOST=localhost
DB_PORT=5433

# Optionnel
# EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# LOG_DIR=logs
