{% extends "base/layout/form.html" %}


{% block page_header %}

{% if action == "create" %}

{% include "base/components/cards/section_title.html" with title="Nouvelle tâche" subtitle="Création d'une tâche de projet" icon="bi-list-task" %}

{% else %}

{% include "base/components/cards/section_title.html" with title=tache.nom subtitle="Modification de la tâche" icon="bi-list-task" %}

{% endif %}

{% endblock %}



{% block page_content %}

<form method="post">

    {% csrf_token %}

    {% include "base/components/forms/form_section.html" with title="Informations générales" icon="bi-card-text" %}

        <div class="row">

            <div class="col-md-6">

                {% include "base/components/forms/field.html" with field=form.projet %}

            </div>

            <div class="col-md-6">

                {% include "base/components/forms/field.html" with field=form.commande %}

            </div>

        </div>

        {% include "base/components/forms/field.html" with field=form.nom %}

        {% include "base/components/forms/field_textarea.html" with field=form.description %}



    {% include "base/components/forms/form_section.html" with title="Organisation" icon="bi-diagram-3" %}

        <div class="row">

            <div class="col-md-4">

                {% include "base/components/forms/field.html" with field=form.phase %}

            </div>

            <div class="col-md-4">

                {% include "base/components/forms/field.html" with field=form.discipline %}

            </div>

            <div class="col-md-4">

                {% include "base/components/forms/field.html" with field=form.responsable %}

            </div>

        </div>



    {% include "base/components/forms/form_section.html" with title="Pilotage" icon="bi-speedometer2" %}

        <div class="row">

            <div class="col-md-4">

                {% include "base/components/forms/field.html" with field=form.statut %}

            </div>

            <div class="col-md-4">

                {% include "base/components/forms/field_money.html" with field=form.poids %}

            </div>

            <div class="col-md-4">

                {% include "base/components/forms/field_money.html" with field=form.avancement %}

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                {% include "base/components/forms/field_checkbox.html" with field=form.est_jalon %}

            </div>

            <div class="col-md-6">

                {% include "base/components/forms/field_checkbox.html" with field=form.est_en_retard %}

            </div>

        </div>



    {% include "base/components/forms/form_section.html" with title="Planning" icon="bi-calendar3" %}

        <div class="row">

            <div class="col-md-6">

                {% include "base/components/forms/field_date.html" with field=form.date_debut_prevue %}

            </div>

            <div class="col-md-6">

                {% include "base/components/forms/field_date.html" with field=form.date_fin_prevue %}

            </div>

            <div class="col-md-6">

                {% include "base/components/forms/field_date.html" with field=form.date_debut_reelle %}

            </div>

            <div class="col-md-6">

                {% include "base/components/forms/field_date.html" with field=form.date_fin_reelle %}

            </div>

        </div>



    {% include "base/components/forms/form_section.html" with title="Coûts" icon="bi-cash-stack" %}

        <div class="row">

            <div class="col-md-6">

                {% include "base/components/forms/field_money.html" with field=form.cout_prevu %}

            </div>

            <div class="col-md-6">

                {% include "base/components/forms/field_money.html" with field=form.cout_reel %}

            </div>

        </div>



    {% include "base/components/forms/form_section.html" with title="Earned Value Management" icon="bi-graph-up-arrow" %}

        <div class="row">

            <div class="col-md-4">

                {% include "base/components/forms/field_money.html" with field=form.planned_value %}

            </div>

            <div class="col-md-4">

                {% include "base/components/forms/field_money.html" with field=form.earned_value %}

            </div>

            <div class="col-md-4">

                {% include "base/components/forms/field_money.html" with field=form.actual_cost %}

            </div>

        </div>



    <div class="text-end mt-4">

        <a href="{% url 'tasks:list' %}" class="btn btn-secondary">

            Annuler

        </a>

        <button class="btn btn-primary" type="submit">

            <i class="bi bi-check-circle"></i>

            Enregistrer

        </button>

    </div>

</form>

{% endblock %}