{% comment %}

Badge progression

Variable :
progression

Valeur attendue :
0 - 100

{% endcomment %}


{% if progression is not None %}


{% if progression < 25 %}


<span class="badge bg-secondary">

{{ progression }} %

</span>



{% elif progression < 50 %}


<span class="badge bg-info text-dark">

{{ progression }} %

</span>



{% elif progression < 75 %}


<span class="badge bg-warning text-dark">

{{ progression }} %

</span>



{% elif progression < 100 %}


<span class="badge bg-primary">

{{ progression }} %

</span>



{% else %}


<span class="badge bg-success">

<i class="bi bi-check-circle"></i>

{{ progression }} %

</span>



{% endif %}


{% endif %}